@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
}

body, a, table, td {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: white;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

td#cover {
    width: 150px;
    padding-right: 15px;
    vertical-align: middle;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    display: block;
    border-radius: 4px;
}

td:not(#cover) {
    vertical-align: middle;
